.book-preview__overlay {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-preview__overlay.active {
  display: flex;
}

.book-preview__wrapper {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.book-preview__image {
  width: 80vw;
  z-index: 100;
  cursor: default;
}

.close {
  position: absolute;
  right: -20px;
  top: -40px;
  width: 30px;
  height: 30px;
  border: 3px solid #9a999a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  content: " ";
  height: 20px;
  width: 7px;
  background-color: #333;
  transform-origin: center;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media (min-width: 760px) {
  .book-preview__image {
    width: 30vw;
  }
  .close {
    right: -50px;
    top: -50px;
    width: 40px;
    height: 40px;
  }

  .close:before,
  .close:after {
    height: 28px;
    width: 8px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .close {
    top: -20px;
  }
}
