body {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.main-header {
  width: 100%;
}

.filters {
  width: 100%;
}

.books-wrapper-container {
  width: 100%;
  padding-bottom: 15px;
}

@media (min-width: 1024px) {
  .filters {
    width: 250px;
  }
  .books-wrapper-container {
    width: calc(100% - 250px);
  }
}

@media (min-width: 1248px) {
  .filters {
    width: 250px;
  }
  .books-wrapper-container {
    width: calc(85% - 250px);
  }
}

@media (min-width: 1480px) {
  .books-wrapper-container {
    width: calc(75% - 250px);
  }
}
